<a href="https://colab.research.google.com/github/Keemo162/deep-learning-challenge/blob/Module-1/Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(columns=['EIN', 'NAME'])

In [4]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
unique_counts = application_df.nunique()
print(unique_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
#  YOUR CODE GOES HERE
application_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_counts)
threshold = 100
application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].apply(lambda x: x if application_counts[x] >= threshold else 'Other')

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
cutoff_value = 100
application_types_to_replace = application_counts[application_counts < cutoff_value].index.tolist()
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: count, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for potential replacement with "Other"
#  YOUR CODE GOES HERE
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Display the counts
print(classification_counts)


# Set a threshold (e.g., keep values that appear more than 100 times)
threshold = 100

# Identify values to replace
to_replace = classification_counts[classification_counts < threshold].index

# Replace in dataframe
for cls in to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
# Check the value counts for CLASSIFICATION
classification_counts = unique_counts['CLASSIFICATION'].value_counts()

# Filter to show only the values with count greater than 1
classification_counts_gt1 = classification_counts[classification_counts > 1]

# Display the filtered counts
print(classification_counts_gt1)

In [13]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
# Check the value counts for CLASSIFICATION
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Filter to show only the values with count greater than 1
classification_counts_gt1 = classification_counts[classification_counts > 1]

# Display the filtered counts
print(classification_counts_gt1)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [14]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
# Set a cutoff value (e.g., replace classifications with counts less than or equal to 10)
cutoff_value = 10

# Get the value counts for the CLASSIFICATION column
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Create a list of classifications to replace (those with counts <= cutoff_value)
classifications_to_replace = classification_counts[classification_counts <= cutoff_value].index.tolist()

# Display the classifications to be replaced
print(classifications_to_replace)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

[]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [16]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
# Convert categorical columns to numeric using pd.get_dummies
df_numeric = pd.get_dummies(application_df, columns=['CLASSIFICATION'], drop_first=True)

# Display the first few rows of the transformed DataFrame
print(df_numeric.head())

  APPLICATION_TYPE       AFFILIATION      USE_CASE  ORGANIZATION  STATUS  \
0              T10       Independent    ProductDev   Association       1
1               T3       Independent  Preservation  Co-operative       1
2               T5  CompanySponsored    ProductDev   Association       1
3               T3  CompanySponsored  Preservation         Trust       1
4               T3       Independent     Heathcare         Trust       1

      INCOME_AMT SPECIAL_CONSIDERATIONS  ASK_AMT  IS_SUCCESSFUL  \
0              0                      N     5000              1
1         1-9999                      N   108590              1
2              0                      N     5000              0
3    10000-24999                      N     6692              1
4  100000-499999                      N   142590              1

   CLASSIFICATION_C1200  CLASSIFICATION_C1270  CLASSIFICATION_C1700  \
0                 False                 False                 False
1                 False                 False                 False
2                 False                 False                 False
3                 False                 False                 False
4                 False                 False                 False

   CLASSIFICATION_C2000  CLASSIFICATION_C2100  CLASSIFICATION_C2700  \
0                 False                 False                 False
1                  True                 False                 False
2                 False                 False                 False
3                  True                 False                 False
4                 False                 False                 False

   CLASSIFICATION_C3000  CLASSIFICATION_C4000  CLASSIFICATION_C5000  \
0                 False                 False                 False
1                 False                 False                 False
2                  True                 False                 False
3                 False                 False                 False
4                 False                 False                 False

   CLASSIFICATION_C7000  CLASSIFICATION_Other
0                 False                 False
1                 False                 False
2                 False                 False
3                 False                 False
4                 False                 False

In [18]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
from sklearn.model_selection import train_test_split

# Assuming the target column is named 'IS_SUCCESSFUL', and the rest are features
# Separate the features (X) and the target (y)
X = df_numeric.drop(columns=['IS_SUCCESSFUL'])  # Features
y = df_numeric['IS_SUCCESSFUL']                 # Target

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
# Split the data into training and testing sets
# test_size=0.2 means 20% of data will be used for testing, random_state ensures reproducibility
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Verify the sizes of the datasets
print(f"Training data shape: {X_train.shape}, {y_train.shape}")
print(f"Testing data shape: {X_test.shape}, {y_test.shape}")

Training data shape: (27439, 19), (27439,)
Testing data shape: (6860, 19), (6860,)

In [23]:
# For each column with 'object' dtype, print the unique values
for col in X_train.columns:
    if X_train[col].dtype == 'object':
        print(f'{col}: {X_train[col].unique()[:20]}') # Print first 20 unique values for brevity

# Convert object columns to numeric using pd.get_dummies
X_train = pd.get_dummies(X_train)
X_test = pd.get_dummies

## Compile, Train and Evaluate the Model

In [24]:
import tensorflow as tf

# Number of input features (this should match the number of features in X)
input_features = X_train.shape[1]

# Define the model
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=64, activation='relu', input_shape=(input_features,)))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=32, activation='relu'))

# Output layer
# Assuming a binary classification; use 'sigmoid' activation. For multi-class, use 'softmax'
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))  # For binary classification
# nn.add(tf.keras.layers.Dense(units=num_classes, activation='softmax'))  # For multi-class classification

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense (Dense)                        │ (None, 64)                  │           3,200 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_1 (Dense)                      │ (None, 32)                  │           2,080 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_2 (Dense)                      │ (None, 1)                   │              33 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 5,313 (20.75 KB)

 Trainable params: 5,313 (20.75 KB)

 Non-trainable params: 0 (0.00 B)

In [25]:
# Compile the model
nn.compile(optimizer='adam',           # Optimizer
           loss='binary_crossentropy',  # Loss function for binary classification
           metrics=['accuracy'])         # Evaluation metric

In [27]:
# Train the model
# For each column with 'object' dtype, print the unique values
for col in X_train.columns:
    if X_train[col].dtype == 'object':
        print(f'{col}: {X_train[col].unique()[:20]}') # Print first 20 unique values for brevity

# Convert object columns to numeric using pd.get_dummies
X_train = pd.get_dummies(X_train)
X_test = pd.get_dummies(X_test) # Call the get_dummies function to transform X_test

In [43]:
# Assuming X_test is your original test data
scaler = StandardScaler()

# Ensure X_test has the same columns as X_train after get_dummies
X_test = pd.get_dummies(X_test)
missing_cols = set(X_train.columns) - set(X_test.columns)
for c in missing_cols:
    X_test[c] = 0
X_test = X_test[X_train.columns]

# Impute missing values (replace None or NaN with 0) before scaling
X_test.fillna(0, inplace=True)

# Fit the scaler to the training data
scaler.fit(X_train) # Calculate mean and standard deviation of training data

# Scale the test data using the scaler fit on X_train
X_test_scaled = scaler.transform(X_test) # Use transform to apply the same scaling as X_train

# Check the shapes of X_test_scaled and y
print(f"Shape of X_test_scaled: {X_test_scaled.shape}")
print(f"Shape of y: {y.shape}")

# If the shapes are incompatible, investigate why X_test_scaled has only one sample
# ...

# Evaluate the model using the scaled test data
# Evaluate the model using the scaled test data
# Make sure to use y_test, which corresponds to the test set
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test)

print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Shape of X_test_scaled: (1, 49)
Shape of y: (34299,)

ValueError: Data cardinality is ambiguous. Make sure all arrays contain the same number of samples.'x' sizes: 1
'y' sizes: 6860

In [44]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
# Export the model to an HDF5 file
nn.save('my_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.